<body>
    <header id="header">
            <a routerLink=""><img class="logo-gamemania" src="../assets/img/Game Mania.png" alt="logo do site"></a>
        <nav id="nav">
            <a id="entrar-mobile" routerLink="login">Entrar</a>
            <button id="btn-menu"><img src="../assets/img/menu.png" alt="menu de barras"></button>
                <ul id="menu">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Noticias</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Carrinho</a></li>
                </ul>
        </nav>
        <div class="login">
            <a routerLink="login">Cadastro</a>
            <a routerLink="login">Entrar</a>
        </div>
    </header>
    <div class="banner">
        <div class="container-grid posicao-texto">
        <div class="texto-banner">
            <h1>Promoção de 50%</h1>
            <p>Cupom:QR0M415</p>
        </div>
        <div class="texto2">
            <p>Em todos os produtos da loja!!!</p></div>
        </div>
    </div>
    <div class="area-pesquisa">
        <div class="area-button container">
        <label for="pesquisa">
            <input type="search" id="pesquisa" placeholder="Pesquisa">
            <button type="submit"><img src="../assets/img/lupa 1.png" alt="lupa"></button>
            </label>
        </div>
    </div>
    <div class="area-icones">
        <div class="icones container">
            <a class="loja-icone" href=""><img src="../assets/img/lojas.png"></a>
            <a href=""><img src="../assets/img/carrinho.png"></a>
            <a href=""><img src="../assets/img/favoritos.png"></a>
            <a href=""><img src="../assets/img/produtos.png"></a>
    </div>
    </div>
    <section id="carouselSite" class="carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="banner-legal">
                   <a href=""><img src="../assets/img/cadeira.png" class="img-fluid"></a>
                  <p>R$2.000 10x R$ 200</p>
                  <a href=""><img src="../assets/img/monitor.png" class="img-fluid"></a>
                  <p>R$2.000 10x R$ 200</p>
                  <a href=""><img src="../assets/img/mouse.png" class="img-fluid"></a>
                  <p>R$2.000 10x R$ 200</p>
                  <a href=""><img src="../assets/img/pc.png" class="img-fluid"></a>
                  <p>R$2.000 10x R$ 200</p>
               </div>
            </div>
            <div class="carousel-item">
                <div class="banner-legal">
                    <a href=""><img src="../assets/img/pngwing.com.png" class="img-fluid"></a>
                    <p>R$2.000 10x R$ 200</p>
                    <a href=""><img src="../assets/img/headset.png" class="img-fluid"></a>
                    <p>R$2.000 10x R$ 200</p>
                    <a href=""><img src="../assets/img/monitor2.png" class="img-fluid"></a>
                    <p>R$2.000 10x R$ 200</p>
                    <a href=""><img src="../assets/img/cpu.png" class="img-fluid"></a>
                    <p>R$2.000 10x R$ 200</p>

                </div>
            </div>
            <div class="carousel-item">
                <div class="banner-legal">
                    <a href=""><img src="../assets/img/pngwing.com (2).png" class="img-fluid"></a>
                    <p>R$2.000 10x R$ 200</p>
                    <a href=""><img src="../assets/img/pngwing.com (1).png" class="img-fluid"></a>
                    <p>R$2.000 10x R$ 200</p>
                    <a href=""><img src="../assets/img/teclado.png" class="img-fluid"></a>
                    <p>R$2.000 10x R$ 200</p>
                    <a href=""><img src="../assets/img/kisspng-laptop.png" class="img-fluid"></a>
                    <p>R$2.000 10x R$ 200</p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">proximo</span>
            </a>
        </div>
    </section>
    <section class="secao-noticias">
        <div class="conteudo-sobre">
            <div  *ngFor="let noticia of listaNoticias" class="texto-sobre">
                <h2>>{{ noticia.titulo }}</h2>
                   <p>{{ noticia.descricao}}</p>
            </div>
            <div class="mobile">
                <p>Desenvolvido pela Tencent, PUBG Mobile é a versão mobile licenciada de PLAYERUNKNOWN's Battlegrounds, grande sucesso da PUBG Corp. Mantendo a mesma proposta de Battle Royale do título original <a href="">Leia Mais...</a></p>
             </div>
        </div>
    </section>    
        <section class="secao-marcas">
            <div class="marcas container">
                <a class="razer" href="https://www.razer.com/"><img src="../assets/img/razer.png"></a>
                <a href="https://www.xbox.com/pt-BR"><img src="../assets/img/xbox.png"></a>
                <a class="riot" href="https://www.riotgames.com/en"><img src="../assets/img/riot.png"></a>
                <a href="https://unity.com/pt"><img src="../assets/img/unity.png"></a>
            </div>
        </section>
        <footer>   
            <div class="rodape">  
            <div class="links-footer">
                <div class="links">
                    <ul>
                        <li><a href="">Conheça-nos</a></li>
                        <li><a href="">Informações corporativas</a></li>
                        <li><a href="">Carreiras</a></li>
                        <li><a href="">Comunicados à imprensa</a></li>
                        <li><a href="">Comunidade</a></li>
                        <li><a href="">Acessibilidade</a></li>
                    </ul>
                </div>
                <div class="links">
                <ul>
                    <li><a href="">Deixe-nos ajudá-lo</a></li>
                    <li><a href="">Sua conta</a></li>
                    <li><a href="">Frete e prazo de entrega</a></li>
                    <li><a href="">Devoluções e reembolsos</a></li>
                    <li><a href="">Gerencie seu conteúdo e dispositivos</a></li>
                    <li><a href="">Ajuda</a></li>
                </ul>
                </div>
            </div>
                 <div class="contatos">
                     <h2>Contatos</h2>
                     <a href=""><img src="../assets/img/instagram 1.png" alt=""></a>
                     <a href=""><img src="../assets/img/whatsapp 1.png" alt=""></a>
                     <a href=""><img src="../assets/img/facebook 1.png" alt=""></a>
                 </div>
            </div>
        </footer>
        <!-- <script>
              let menu = document.getElementById("menu");

                function mostrarMenu() {
                    if(menu.style.display != "flex"){
                    menu.style.display = "flex"
                }else{
                    menu.style.display = "none"
                }
} -->
        <!-- </script> -->
</body>
