<body>
    <header>
        <div class="cabeçalho-login container">
            <a routerLink=""><img src="/assets/img/Game Mania.png" alt="logo-gamemania"></a>
        </div>
    </header>
<div class="login-blocos">
    <form #userForm="ngForm">
        <h1>Login</h1>
            <input type="email" id="email" placeholder="E-mail" [(ngModel)]="userModel.email">
            <input type="password" id="senha" placeholder="Senha"[(ngModel)]="userModel.senha">
            <button type="submit" name="ação" value="Enviar">Entrar</button>
        <a href="">Esqueceu sua senha?</a>
        <a href="">Cadastre-se</a>
    </form>
</div>
</body>