<body>
<div class="imagenlogin1">
    <header>
        <div class="cabeçalho-login container">
            <a routerLink=""><img src="/assets/img/Game Mania.png" alt="logo-gamemania"></a>
        </div>
    </header>
<div class="login-blocos">
    <form #userForm="ngForm" (ngSubmit)="logar()">
        <h1>Login</h1>
            <input type="email" id="email" name="email" placeholder="E-mail" [(ngModel)]="loginModel.email">
            <input type="password" id="password" name="password" placeholder="Senha"[(ngModel)]="loginModel.password">
            <button type="submit" name="ação" id="botão" value="Enviar">Entrar</button>
        <a href="">Esqueceu sua senha?</a>
        <a href="">Cadastre-se</a>
    </form>
    <p id="mensagem" *ngIf=" mensagem != '' "> {{ mensagem }} </p>
    <p *ngIf=" usuarioLogado != '' ">{{ usuarioLogado }}</p>
</div>
</div>
</body>