@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Rajdhani:wght@500&family=Rambla&family=Rosarivo&family=Source+Serif+4:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(/assets/img/imagenlogin1.png);
}
header{
    background-color: black;
    height: 80px;
}
.cabeçalho-login img{
    align-items: center;
    width: 223px;
    margin-top: 25px;
}
form h1{
    font-family: 'Rambla', sans-serif;
    text-align: center;
    color: white;
}
form{
    background-color: black;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
form input[type=email],
form input[type=password]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 20px;
}
form button[type=submit]{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #591283;
    color: white;
    border: 0;
    border-radius: 20px;
}
form button[type=submit]:hover{
    background-color:#410f5f ;
}
form input[type=email]:focus{
    outline: 0;
}
form input[type=password]:focus{
    outline: 0;
}
form a{
    text-decoration: none;
    color:#591283;
    margin: 53px;
}